/*
====================================
Medium Screen - Others
====================================
*/

@media screen and (min-width: 1550px) {
  .container {
    max-width: 1440px !important;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1560px) {
  .logo_img a img {
    width: 150px;
  }

  .main_menu ul li a {
    font-size: 14px;
    margin: 0px 5px;
  }

  .icon_menu ul li a {
    font-size: 14px;
    margin: 0px 6px;
  }

  .menu_mega_three {
    column-gap: 20px;
  }

  .mega_five_dis {
    margin-left: -140px;
  }

  .slider_color_varient ul li button span {
    width: 28px;
    height: 28px;
  }

  .slider_color_varient ul li.color_link a span {
    width: 28px;
    height: 28px;
    top: -11px;
  }

  .sf_right p {
    font-size: 16px;
  }

  .p1bestseller_slider .owl-nav .owl-prev {
    position: absolute;
    left: -40px;
  }

  .p1bestseller_slider .owl-nav .owl-next {
    position: absolute;
    right: -40px;
  }

  .p1order_one_img::after {
    width: 66%;
    left: 36%;
    top: 53%;
  }

  .headingUp {
    font-size: 44px;
  }

  .footer_one ul li a {
    font-size: 16px;
  }

  .hour_one p {
    font-size: 16px;
  }

  .reach_us p {
    font-size: 16px;
  }

  .res_bottom ul li a {
    font-size: 14px;
  }

  .res_bottom p {
    font-size: 14px;
  }

  .p2filter_left ul li {
    font-size: 15px;
    margin-right: 11px;
  }

  .p2filter_right ul li {
    font-size: 14px;
  }

  .p2filter_right p {
    font-size: 14px;
  }

  .p2filter_drop_one_wrapper {
    gap: 14px;
  }

  #drop_three .checkmark,
  #drop_three #check_three span {
    width: 50px;
    height: 50px;
  }

  .drop_four_right {
    padding-left: 75px;
  }

  .p2_slider_wrapper {
    grid-template-columns: repeat(4, 1fr);
  }

  .slider_color_varient ul li button span,
  .slider_color_varient ul li.color_link a span {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 3px;
  }

  .slider_color_varient ul li.color_link a span {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -9px;
  }

  .sf_right p {
    font-size: 15px;
  }

  .slider_inner_content {
    padding: 0;
    padding-top: 15px;
  }

  .p2_slider_wrapper .p2_slider_one {
    padding: 10px;
  }

  .best_slider_inner_heading_left h5 {
    font-size: 18px;
  }

  .best_slider_inner_heading_right p {
    font-size: 18px;
  }

  .best_slider_inner_heading_left p {
    font-size: 15px;
  }

  .p2_hero_left {
    max-width: 500px;
    padding: 100px 0px;
  }

  .p2_hero_right {
    padding-left: 0;
    margin-top: 0;
  }

  .p2_hero_left h2 {
    font-size: 66px;
    margin-bottom: 20px;
  }

  .p2_hero_left p {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .logo_img a img {
    width: 165px;
  }

  .main_menu ul li a {
    font-size: 14px;
    margin: 0px 6px;
  }

  .icon_menu ul li a {
    font-size: 14px;
    margin: 0px 5px;
  }

  .icon_menu ul li select {
    font-size: 12px;
  }

  .main_menu ul li a span {
    font-size: 10px;
    margin-left: 2px;
  }

  .icon_menu ul li.cart_beg a span {
    transform: scale(0.8);
  }

  .mega_menu_one_right_img {
    padding-left: 10px;
  }

  .menu_mega_three {
    column-gap: 20px;
  }

  .mega_five_dis {
    margin-left: -150px;
  }

  .sliderText h2 {
    font-size: 30px;
    padding-right: 6%;
  }

  .p1_hero_slider .carousel-indicators {
    bottom: 8px;
  }

  #p1bestseller .owl-nav {
    display: none;
  }

  .p1order_one_img::after {
    width: 66%;
    left: 36%;
    top: 53%;
  }

  .p1touch_left h2 {
    font-size: 40px;
  }

  .headingUp {
    font-size: 45px;
  }

  .review_block::after {
    left: -22px;
  }

  .review_block::before {
    right: -6px;
  }

  .footer_one ul li a {
    font-size: 16px;
  }

  .hour_one p {
    font-size: 16px;
  }

  .reach_us p {
    font-size: 16px;
  }

  .res_bottom ul li a {
    font-size: 14px;
  }

  .res_bottom p {
    font-size: 14px;
  }

  .p2filter_left ul li {
    font-size: 15px;
    margin-right: 11px;
  }

  .p2filter_right ul li {
    font-size: 14px;
  }

  .p2filter_right p {
    font-size: 14px;
  }

  .p2filter_drop_one_wrapper {
    gap: 14px;
  }

  #drop_three .checkmark,
  #drop_three #check_three span {
    width: 50px;
    height: 50px;
  }

  .drop_four_right {
    padding-left: 75px;
  }

  .p2_slider_wrapper {
    grid-template-columns: repeat(4, 1fr);
  }

  .slider_color_varient ul li button span,
  .slider_color_varient ul li.color_link a span {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 3px;
  }

  .slider_color_varient ul li.color_link a span {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -9px;
  }

  .sf_right p {
    font-size: 15px;
  }

  .slider_inner_content {
    padding: 0;
    padding-top: 15px;
  }

  .p2_slider_wrapper .p2_slider_one {
    padding: 10px;
  }

  .best_slider_inner_heading_left h5 {
    font-size: 18px;
  }

  .best_slider_inner_heading_right p {
    font-size: 18px;
  }

  .best_slider_inner_heading_left p {
    font-size: 15px;
  }

  .p2_hero_left {
    max-width: 515px;
    padding: 70px 0px;
  }

  .p2_hero_right {
    padding-left: 0;
    margin-top: 0;
  }

  .p2_hero_left h2 {
    font-size: 66px;
    margin-bottom: 20px;
  }

  .p2_hero_left p {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .logo_img a img {
    width: 130px;
  }

  .main_menu ul li a {
    font-size: 12px;
    margin: 0px 5px;
  }

  .icon_menu ul li a {
    font-size: 14px;
    margin: 0px 5px;
  }

  .icon_menu ul li select {
    font-size: 14px;
  }

  .main_menu ul li a span {
    font-size: 10px;
    margin-left: 2px;
  }

  .icon_menu ul li.cart_beg a span {
    transform: scale(0.8);
  }

  .mega_one_menu_left_link ul li a {
    font-size: 14px;
  }

  h3.mega_menu_heading {
    font-size: 20px;
  }

  .mega_menu_one_middle_img {
    margin-left: 0px;
  }

  .mega_menu_one_right_img {
    padding-left: 20px;
  }

  .mega_menu_one_right_img_block h3 {
    font-size: 18px;
  }

  .mega_menu_one {
    top: 60px;
    padding: 30px 0px;
  }

  .mega_two_link_item ul li a {
    font-size: 14px;
  }

  .menu_mega_three {
    column-gap: 15px;
  }

  .menu_mega_three_block p {
    font-size: 14px;
  }

  .mega_four_middle_link ul li a {
    font-size: 14px;
  }

  .mega_five_dis_box {
    padding-left: 0px;
    padding-right: 0px;
  }

  .mega_five_dis {
    margin-left: -150px;
  }

  .mega_five_dis_box_left p,
  .mega_five_dis_box_right p {
    font-size: 14px;
  }

  .megasix-box p {
    font-size: 14px;
  }

  .sliderText h2 {
    font-size: 30px;
    padding-right: 6%;
  }

  .p1_hero_slider .carousel-indicators {
    bottom: 8px;
  }

  #p1bestseller .owl-nav {
    display: none;
  }

  .p1fabric_two_left .p1fabric_two_left_content img {
    display: inline-block;
    width: 165px;
  }

  .p1bull_wrapper {
    max-width: 70%;
  }

  .p1order_content {
    max-width: 100%;
  }

  .p1order_content h4 {
    font-size: 20px;
  }

  .p1order_content p {
    font-size: 15px;
  }

  .p1order_one_img::after {
    width: 63%;
    left: 42%;
    top: 53%;
  }

  .p1explore_wrapper h2 {
    font-size: 50px;
    font-weight: normal;
  }

  #p1touch {
    padding: 35px;
  }

  .p1touch_wrapper {
    padding: 20px;
  }

  .p1touch_left h2 {
    font-size: 40px;
  }

  .review_heading h2 {
    font-size: 35px;
  }

  .review_block_one {
    padding: 0px 0px;
  }

  .review_block_one > p {
    font-size: 16px;
    min-height: 155px;
  }

  .review_block::after {
    width: 50px;
    height: 36px;
    left: 0;
  }

  .review_block::before {
    width: 50px;
    height: 36px;
    right: 0;
    bottom: -40px;
  }

  .footer_wrapper {
    column-gap: 10px;
  }

  .footer_one h4 {
    font-size: 16px;
  }

  .footer_one ul li a {
    font-size: 14px;
  }

  .hour_one p {
    font-size: 14px;
  }

  .reach_us p {
    font-size: 14px;
  }

  .res_bottom ul li a {
    font-size: 12px;
  }

  .res_bottom p {
    font-size: 13px;
  }

  .p2filter_left ul li {
    font-size: 12px;
    margin-right: 4px;
  }

  .p2filter_right ul li {
    font-size: 14px;
  }

  .p2filter_right p {
    font-size: 14px;
  }

  .p2filter_drop_one_wrapper {
    gap: 14px;
  }

  #drop_three .checkmark,
  #drop_three #check_three span {
    width: 50px;
    height: 50px;
  }

  .drop_four_right {
    padding-left: 75px;
  }

  .p2_slider_wrapper {
    grid-template-columns: repeat(4, 1fr);
  }

  .slider_color_varient ul li button span,
  .slider_color_varient ul li.color_link a span {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 3px;
  }

  .slider_color_varient ul li.color_link a span {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -9px;
  }

  .sf_right p {
    font-size: 15px;
  }

  .slider_inner_content {
    padding: 0;
    padding-top: 15px;
  }

  .p2_slider_wrapper .p2_slider_one {
    padding: 10px;
  }

  .best_slider_inner_heading_left h5 {
    font-size: 18px;
  }

  .best_slider_inner_heading_right p {
    font-size: 18px;
  }

  .best_slider_inner_heading_left p {
    font-size: 15px;
  }

  .p2_hero_left {
    max-width: 400px;
    padding: 50px 0px;
  }

  .p2_hero_right {
    padding-left: 0;
    margin-top: 0;
  }

  .p2_hero_left h2 {
    font-size: 66px;
    margin-bottom: 20px;
  }

  .p2_hero_left p {
    font-size: 16px;
  }
}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* !=== Header area start === */
  .logo {
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .logo_img a img {
    width: 160px;
  }

  .icon_menu ul li a {
    margin: 0;
  }

  .search {
    width: 100%;
  }

  .search {
    padding: 15px;
  }

  .search-box {
    padding: 25px 0px;
  }

  .top_search,
  .sc-result {
    padding: 0px 0px;
  }

  .sc-result-box {
    column-gap: 25px;
    padding: 0px 10px;
  }

  .shoppingitemone_left img {
    width: 95px;
    height: 95px;
  }

  .mesureleft span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 1px;
  }

  .shoppingitemone_right p {
    font-size: 14px;
  }

  .masure {
    margin-top: 5px;
  }

  .action_button {
    margin-top: 4px;
  }

  .shopingitem_main_right p {
    font-size: 16px;
  }

  .couponbox {
    display: block !important;
  }

  .couponbox_Right input {
    width: 100%;
  }

  .pricePara p {
    font-size: 12px;
  }

  .orderButton ul {
    gap: 10px;
  }

  .orderButton ul li a {
    width: 155px;
    font-size: 14px;
  }
  /* !=== Header area end === */

  .p1_hero_slider .carousel-indicators {
    display: none;
  }

  .sliderText h2 {
    font-size: 46px;
    text-align: right;
    line-height: 1.3;
  }

  .sliderText {
    position: absolute;
    left: 0;
    right: inherit;
    top: inherit;
    transform: none;
    width: 100%;
    padding-right: 25px;
    bottom: 90px;
  }

  .p1fabric_one_text h2 {
    font-size: 30px;
  }

  .p1fabric_two_left_content img {
    width: 90px;
    margin-bottom: 20px;
  }

  .fabric_heading h2 {
    font-size: 35px;
  }

  .fabric_heading p {
    font-size: 16px;
  }

  #p1fabric {
    padding-top: 70px;
  }

  #p1bestseller .owl-nav {
    display: none;
  }

  #p1bestseller {
    padding-top: 70px;
    padding-bottom: 50px;
  }

  .p1bestseller_heading h2 {
    font-size: 35px;
  }

  #p1industry {
    padding: 70px 0px;
  }

  .p1industry_wrapper h2 {
    font-size: 35px;
  }

  .menu_mega_three {
    column-gap: 10px;
  }

  .menu_mega_three_block p {
    font-size: 12px;
  }

  .p1bull_wrapper {
    max-width: 100%;
  }

  .headingUp {
    font-size: 35px;
  }

  #p1service {
    padding-top: 70px;
    padding-bottom: 30px;
  }

  .service_block {
    grid-template-columns: repeat(2, 1fr);
  }

  .service_block_one {
    border-right: 1px solid #566453;
  }

  #p1explore {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .p1explore_wrapper {
    max-width: 100%;
    text-align: center;
  }

  .p1explore_wrapper h5 {
    font-size: 20px;
  }

  .p1explore_wrapper h2 {
    font-size: 36px;
  }

  .p1explore_wrapper a {
    font-size: 14px;
    padding: 10px 35px;
    margin-top: 55px;
    transition: all 0.2s ease;
  }

  .p1order_one_last .p1order_content p:after {
    content: none;
  }

  .p1touch_left {
    margin-top: 30px;
  }

  .review_heading h2 {
    font-size: 26px;
  }

  .review_block_one {
    padding: 0px 0px;
  }

  .review_block_one > p {
    font-size: 16px;
    min-height: 200px;
  }

  .review_block::after {
    width: 50px;
    height: 36px;
    left: 0;
  }

  .review_block::before {
    width: 50px;
    height: 36px;
    right: 0;
    bottom: -40px;
  }

  #p1review {
    margin-bottom: 52px;
  }

  .p2_hero_right {
    padding-left: 0;
    margin-top: 0;
  }

  .p2_hero_left {
    max-width: 100%;
    padding: 35px 15px;
  }

  .p2_hero_left h2 {
    font-size: 35px;
    margin-bottom: 15px;
  }

  .p2_hero_left p {
    font-size: 14px;
  }

  .p2slider_wrapper {
    border: 0;
  }

  .p2_slider_wrapper .p2_slider_one {
    border: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  .p2_slider_wrapper {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }

  .p2loader {
    display: none;
  }

  #p2slider {
    padding-bottom: 50px;
    margin-top: 0;
  }

  .addui-slider .addui-slider-track .addui-slider-handle::after {
    width: 24px;
    height: 24px;
    top: 12px;
  }

  .addui-slider
    .addui-slider-track
    .addui-slider-handle
    .addui-slider-value
    span {
    bottom: 23px;
    font-size: 14px !important;
  }

  .rangeValue p {
    font-size: 14px;
    margin-left: -9px;
  }

  .rangeValue p#max {
    margin-right: -15px;
  }

  .drop_four_left {
    padding: 0px 30px;
  }

  .rangeValue {
    margin-top: -10px;
  }
}

/*
====================================
Small Screen - Mobile
====================================
*/
@media screen and (min-width: 576px) and (max-width: 767px) {
  /* !=== Header area start === */
  .logo {
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .logo_img a img {
    width: 160px;
  }

  .icon_menu ul li a {
    margin: 0;
  }

  .search {
    width: 100%;
  }

  .search {
    padding: 15px;
  }

  .search-box {
    padding: 25px 0px;
  }

  .top_search,
  .sc-result {
    padding: 0px 0px;
  }

  .sc-result-box {
    column-gap: 25px;
    padding: 0px 10px;
  }

  .shoppingitemone_left img {
    width: 95px;
    height: 95px;
  }

  .mesureleft span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 1px;
  }

  .shoppingitemone_right p {
    font-size: 14px;
  }

  .masure {
    margin-top: 5px;
  }

  .action_button {
    margin-top: 4px;
  }

  .shopingitem_main_right p {
    font-size: 16px;
  }

  .couponbox {
    display: block !important;
  }

  .couponbox_Right input {
    width: 100%;
  }

  .pricePara p {
    font-size: 12px;
  }

  .orderButton ul {
    gap: 10px;
  }

  .orderButton ul li a {
    width: 155px;
    font-size: 14px;
  }
  /* !=== Header area end === */

  .p1_hero_slider .carousel-indicators {
    display: none;
  }

  .sliderText h2 {
    font-size: 46px;
    text-align: right;
    line-height: 1.3;
  }

  .sliderText {
    position: absolute;
    left: 0;
    right: inherit;
    top: inherit;
    transform: none;
    width: 100%;
    padding-right: 25px;
    bottom: 90px;
  }

  #p1fabric {
    padding-top: 40px;
  }

  .fabric_heading h2 {
    font-size: 32px;
  }

  .fabric_heading p {
    font-size: 16px;
    margin-top: 2px;
  }

  .fabric_heading {
    margin-bottom: 20px;
  }

  .p1fabric_one {
    display: block;
  }

  .p1fabirc_one_left,
  .p1fabirc_two_left {
    width: 100%;
  }

  .p1fabric_one_text {
    bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .p1fabric_one_text h2 {
    font-size: 28px;
  }

  .p1fabric_one_text p {
    font-size: 13px;
  }

  .p1fabric_one_text_right a {
    font-size: 13px;
  }

  .p1fabric_two_left {
    width: 40%;
  }

  .p1fabric_two_right {
    width: 60%;
  }

  .p1fabric_two_left_content img {
    width: 65px;
    margin-bottom: 20px;
  }

  .p1fabric_two_left_content p {
    font-size: 13px;
    padding: 0px 6px;
  }

  .p1fabric_one_text {
    display: block;
  }

  .p1fabric_one_text_right {
    display: none;
  }

  #p1bestseller {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .p1bestseller_heading h2 {
    font-size: 32px;
  }

  .p1bestseller_slider {
    margin-top: 20px;
  }

  #p1bestseller .container {
    padding-left: 0;
    padding-right: 0;
  }

  #p1bestseller .owl-nav {
    display: none;
  }

  .slider_inner_content {
    padding: 8px;
  }

  .best_slider_inner_heading_left h5 {
    font-size: 20px;
  }

  .best_slider_inner_heading_right p {
    font-size: 18px;
  }

  .best_slider_inner_heading_left p {
    font-size: 13px;
  }

  .slider_color_varient ul li button span {
    width: 26px;
    height: 26px;
    margin-right: 0px;
  }

  .slider_color_varient ul li.color_link a span {
    width: 26px;
    height: 26px;
    font-size: 11px;
    top: -8px;
  }

  .sf_left span {
    font-size: 22px;
  }

  .sf_right p {
    font-size: 15px;
  }

  .sf_right p span {
    margin-right: 6px;
  }

  .p1pattrn_one .p1fabric_two_right {
    width: 50%;
  }

  .p1pattrn_one .p1fabric_two_left {
    width: 50%;
  }

  #p1industry .menu_mega_three {
    column-gap: 5px;
    white-space: nowrap;
    overflow-x: scroll;
  }

  #p1industry .container {
    padding-left: 0;
    padding-right: 0;
  }

  #p1industry .menu_mega_three_block {
    width: 120px;
  }

  #p1industry .menu_mega_three_block p {
    font-size: 12px;
    margin-top: 5px;
  }

  .p1bestseller_heading {
    padding: 0px 15px;
  }

  .p1industry_wrapper h2 {
    font-size: 32px;
  }

  #p1industry .menu_mega_three_block {
    margin-top: 20px;
  }

  #p1industry {
    padding: 40px 0px;
  }

  .p1bull_wrapper {
    max-width: 100%;
  }

  #p1bull {
    padding: 40px 0px;
    background-size: 130px;
    background-position: top 20px right -30px;
  }

  .p1bull_wrapper h2 {
    font-size: 30px;
  }

  .p1bull_wrapper h6 {
    font-size: 18px;
  }

  .p1bull_wrapper p {
    font-size: 15px;
    margin: 20px 0px;
  }

  .p1bull_wrapper a {
    font-size: 15px;
  }

  .headingUp {
    font-size: 30px;
  }

  .service_block {
    display: block;
    margin-top: 30px;
  }

  #p1service .container {
    padding-left: 0;
    padding-right: 0;
  }

  .service_block_one {
    border-left: 0;
    border-bottom: 0;
    padding: 10px 20px;
  }

  .service_block_one_left_img img {
    display: block;
    width: 60px;
  }

  .service_block_one_left_heading h3 {
    font-size: 16px;
  }

  .service_block_one_left {
    gap: 12px;
  }

  .service_block_one_right span {
    display: inline-block;
    font-size: 14px;
  }

  .service_block_one_para {
    display: none;
    margin-top: 0;
  }

  .faqActive .service_block_one_para {
    display: block;
  }

  .faqActive .service_block_one_right span i {
    transform: rotate(180deg);
  }

  .service_block_two {
    border-right: 0;
  }

  .service_block_one_left_heading h3 br {
    display: none;
  }

  .p1order_one {
    margin-top: 26px;
  }

  .p1order_one_img img {
    width: 60px;
  }

  .p1order_one {
    display: flex;
    gap: 20px;
  }

  .p1order_content h4 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .p1order_content p {
    font-size: 12px;
    max-height: 100px;
  }

  .p1order_one_img::after {
    content: none;
  }

  .p1order_content p {
    position: relative;
  }

  .p1order_content p::after {
    content: "";
    display: block;
    width: 2px;
    height: 90%;
    background: #506339;
    position: absolute;
    left: calc(0% - 49px);
    top: calc(50% + 25px);
    transform: translate(-50%, -50%);
  }

  #p1explore {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .p1explore_wrapper {
    max-width: 100%;
    text-align: center;
  }

  .p1explore_wrapper h5 {
    font-size: 20px;
  }

  .p1explore_wrapper h2 {
    font-size: 36px;
  }

  .p1explore_wrapper a {
    font-size: 14px;
    padding: 10px 35px;
    margin-top: 55px;
    transition: all 0.2s ease;
  }

  .p1order_one_last .p1order_content p:after {
    content: none;
  }

  .p1touch_business span,
  .p1touch_mail span,
  .p1touch_tele span,
  .p1sto span {
    display: block;
    font-size: 12px;
  }

  .p1touch_business p,
  .p1touch_mail p,
  .p1touch_tele p,
  .p1sto p {
    font-size: 15px;
    line-height: 1.2;
  }

  .p1touch_mail,
  .p1touch_tele,
  .p1sto {
    margin-top: 10px;
  }

  .p1touch_mail a,
  .p1touch_tele a,
  .p1link a {
    font-size: 15px;
  }

  #p1touch,
  .p1touch_wrapper {
    padding: 0;
    overflow: hidden;
  }

  #p1touch .container {
    padding-left: 0;
    padding-right: 0;
  }

  .p1map iframe {
    height: 380px;
  }

  .p1touch_left {
    padding: 25px;
  }

  #p1review {
    padding: 30px 0px;
    margin-bottom: 52px;
  }

  .review_heading {
    display: block;
  }

  .review_heading h2 {
    font-size: 17px;
    text-align: center;
  }

  .review_block_one {
    padding: 0px 35px;
  }

  .review_block_one > p {
    font-size: 14px;
    min-height: 135px;
  }

  .review_block_name h5 {
    font-size: 16px;
  }

  .review_block_name p {
    font-size: 14px;
  }

  .review_block::after {
    width: 55px;
    height: 42px;
    top: 5px;
    left: 0;
  }

  .review_block::before {
    width: 55px;
    height: 42px;
    right: 0px;
    bottom: -68px;
  }

  .p2_hero_right {
    padding-left: 0;
    margin-top: 0;
  }

  .p2_hero_left {
    max-width: 100%;
    padding: 35px 15px;
  }

  .p2_hero_left h2 {
    font-size: 35px;
    margin-bottom: 15px;
  }

  .p2_hero_left p {
    font-size: 14px;
  }

  .p2slider_wrapper {
    border: 0;
  }

  .p2_slider_wrapper .p2_slider_one {
    border: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  .p2_slider_wrapper {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }

  .p2loader {
    display: none;
  }

  #p2slider {
    padding-bottom: 50px;
    margin-top: 0;
  }

  .addui-slider .addui-slider-track .addui-slider-handle::after {
    width: 24px;
    height: 24px;
    top: 12px;
  }

  .addui-slider
    .addui-slider-track
    .addui-slider-handle
    .addui-slider-value
    span {
    bottom: 23px;
    font-size: 14px !important;
  }

  .rangeValue p {
    font-size: 14px;
    margin-left: -9px;
  }

  .rangeValue p#max {
    margin-right: -15px;
  }

  .drop_four_left {
    padding: 0px 30px;
  }

  .rangeValue {
    margin-top: -10px;
  }
}

/*
====================================
Xtra Small Screen - Small Mobile
====================================
*/
@media screen and (max-width: 576px) {
  /* !=== Header area start === */
  .logo {
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .logo_img a img {
    width: 160px;
  }

  .icon_menu ul li a {
    margin: 0;
  }

  .search {
    width: 100%;
  }

  .search {
    padding: 15px;
  }

  .search-box {
    padding: 25px 0px;
  }

  .top_search,
  .sc-result {
    padding: 0px 0px;
  }

  .sc-result-box {
    column-gap: 25px;
    padding: 0px 10px;
  }

  .shoppingitemone_left img {
    width: 95px;
    height: 95px;
  }

  .mesureleft span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 1px;
  }

  .shoppingitemone_right p {
    font-size: 14px;
  }

  .masure {
    margin-top: 5px;
  }

  .action_button {
    margin-top: 4px;
  }

  .shopingitem_main_right p {
    font-size: 16px;
  }

  .couponbox {
    display: block !important;
  }

  .couponbox_Right input {
    width: 100%;
  }

  .pricePara p {
    font-size: 12px;
  }

  .orderButton ul {
    gap: 10px;
  }

  .orderButton ul li a {
    width: 155px;
    font-size: 14px;
  }
  /* !=== Header area end === */

  .p1_hero_slider .carousel-indicators {
    display: none;
  }

  .sliderText h2 {
    font-size: 26px;
    text-align: right;
    line-height: 1.3;
  }

  .sliderText {
    position: absolute;
    left: 0;
    right: inherit;
    top: inherit;
    transform: none;
    width: 100%;
    padding-right: 25px;
    bottom: 90px;
  }

  #p1fabric {
    padding-top: 40px;
  }

  .fabric_heading h2 {
    font-size: 32px;
  }

  .fabric_heading p {
    font-size: 16px;
    margin-top: 2px;
  }

  .fabric_heading {
    margin-bottom: 20px;
  }

  .p1fabric_one {
    display: block;
  }

  .p1fabirc_one_left,
  .p1fabirc_two_left {
    width: 100%;
  }

  .p1fabric_one_text {
    bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .p1fabric_one_text h2 {
    font-size: 28px;
  }

  .p1fabric_one_text p {
    font-size: 13px;
  }

  .p1fabric_one_text_right a {
    font-size: 13px;
  }

  .p1fabric_two_left {
    width: 40%;
  }

  .p1fabric_two_right {
    width: 60%;
  }

  .p1fabric_two_left_content img {
    width: 65px;
    margin-bottom: 20px;
  }

  .p1fabric_two_left_content p {
    font-size: 13px;
    padding: 0px 6px;
  }

  .p1fabric_one_text {
    display: block;
  }

  .p1fabric_one_text_right {
    display: none;
  }

  #p1bestseller {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .p1bestseller_heading h2 {
    font-size: 32px;
  }

  .p1bestseller_slider {
    margin-top: 20px;
  }

  #p1bestseller .container {
    padding-left: 0;
    padding-right: 0;
  }

  #p1bestseller .owl-nav {
    display: none;
  }

  .slider_inner_content {
    padding: 8px;
  }

  .best_slider_inner_heading_left h5 {
    font-size: 16px;
  }

  .best_slider_inner_heading_right p {
    font-size: 16px;
  }

  .best_slider_inner_heading_left p {
    font-size: 9px;
  }

  .slider_color_varient ul li button span {
    width: 20px;
    height: 20px;
    margin-right: 0px;
  }

  .slider_color_varient ul li.color_link a span {
    width: 20px;
    height: 20px;
    font-size: 8px;
    top: -7px;
  }

  .sf_left span {
    font-size: 15px;
  }

  .sf_right p {
    font-size: 11px;
  }

  .sf_right p span {
    margin-right: 6px;
  }

  .p1pattrn_one .p1fabric_two_right {
    width: 50%;
  }

  .p1pattrn_one .p1fabric_two_left {
    width: 50%;
  }

  #p1industry .menu_mega_three {
    column-gap: 5px;
    white-space: nowrap;
    overflow-x: scroll;
  }

  #p1industry .container {
    padding-left: 0;
    padding-right: 0;
  }

  #p1industry .menu_mega_three_block {
    width: 120px;
  }

  #p1industry .menu_mega_three_block p {
    font-size: 12px;
    margin-top: 5px;
  }

  .p1bestseller_heading {
    padding: 0px 15px;
  }

  .p1industry_wrapper h2 {
    font-size: 32px;
  }

  #p1industry .menu_mega_three_block {
    margin-top: 20px;
  }

  #p1industry {
    padding: 40px 0px;
  }

  .p1bull_wrapper {
    max-width: 100%;
  }

  #p1bull {
    padding: 40px 0px;
    background-size: 130px;
    background-position: top 20px right -30px;
  }

  .p1bull_wrapper h2 {
    font-size: 30px;
  }

  .p1bull_wrapper h6 {
    font-size: 18px;
  }

  .p1bull_wrapper p {
    font-size: 15px;
    margin: 20px 0px;
  }

  .p1bull_wrapper a {
    font-size: 15px;
  }

  #p1logo {
    padding: 10px 0px;
  }

  #p1service {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .headingUp {
    font-size: 24px;
  }

  .service_block {
    display: block;
    margin-top: 30px;
  }

  #p1service .container {
    padding-left: 0;
    padding-right: 0;
  }

  .service_block_one {
    border-left: 0;
    border-bottom: 0;
    padding: 10px 20px;
  }

  .service_block_one_left_img img {
    display: block;
    width: 60px;
  }

  .service_block_one_left_heading h3 {
    font-size: 16px;
  }

  .service_block_one_left {
    gap: 12px;
  }

  .service_block_one_right span {
    display: inline-block;
    font-size: 14px;
  }

  .service_block_one_para {
    display: none;
    margin-top: 0;
  }

  .faqActive .service_block_one_para {
    display: block;
  }

  .faqActive .service_block_one_right span i {
    transform: rotate(180deg);
  }

  .service_block_two {
    border-right: 0;
  }

  .p1order_one {
    margin-top: 26px;
  }

  .p1order_one_img img {
    width: 60px;
  }

  .p1order_one {
    display: flex;
    gap: 20px;
  }

  .p1order_content h4 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .p1order_content p {
    font-size: 12px;
    max-height: 100px;
  }

  .p1order_one_img::after {
    content: none;
  }

  .p1order_content p {
    position: relative;
  }

  .p1order_content p::after {
    content: "";
    display: block;
    width: 2px;
    height: 90%;
    background: #506339;
    position: absolute;
    left: calc(0% - 49px);
    top: calc(50% + 25px);
    transform: translate(-50%, -50%);
  }

  #p1explore {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .p1explore_wrapper {
    max-width: 100%;
    text-align: center;
  }

  .p1explore_wrapper h5 {
    font-size: 20px;
  }

  .p1explore_wrapper h2 {
    font-size: 36px;
  }

  .p1explore_wrapper a {
    font-size: 14px;
    padding: 10px 35px;
    margin-top: 55px;
    transition: all 0.2s ease;
  }

  .p1order_one_last .p1order_content p:after {
    content: none;
  }

  #p1touch,
  .p1touch_wrapper {
    padding: 0;
    overflow: hidden;
  }

  #p1touch .container {
    padding-left: 0;
    padding-right: 0;
  }

  .p1map iframe {
    height: 380px;
  }

  .p1touch_left {
    padding: 25px;
  }

  .p1touch_business span,
  .p1touch_mail span,
  .p1touch_tele span,
  .p1sto span {
    display: block;
    font-size: 12px;
  }

  .p1touch_business p,
  .p1touch_mail p,
  .p1touch_tele p,
  .p1sto p {
    font-size: 15px;
    line-height: 1.2;
  }

  .p1touch_mail,
  .p1touch_tele,
  .p1sto {
    margin-top: 10px;
  }

  .p1touch_mail a,
  .p1touch_tele a,
  .p1link a {
    font-size: 15px;
  }

  #p1review {
    padding: 30px 0px;
    margin-bottom: 52px;
  }

  .review_heading {
    display: block;
  }

  .review_heading h2 {
    font-size: 17px;
    text-align: center;
  }

  .review_block_one {
    padding: 0px 35px;
  }

  .review_block_one > p {
    font-size: 14px;
    min-height: 135px;
  }

  .review_block_name h5 {
    font-size: 16px;
  }

  .review_block_name p {
    font-size: 14px;
  }

  .review_block::after {
    width: 55px;
    height: 42px;
    top: 5px;
    left: 0;
  }

  .review_block::before {
    width: 55px;
    height: 42px;
    right: 0px;
    bottom: -68px;
  }

  .p2_hero_right {
    padding-left: 0;
    margin-top: 0;
  }

  .p2_hero_left {
    max-width: 100%;
    padding: 35px 15px;
  }

  .p2_hero_left h2 {
    font-size: 35px;
    margin-bottom: 15px;
  }

  .p2_hero_left p {
    font-size: 14px;
  }

  .p2slider_wrapper {
    border: 0;
  }

  .p2_slider_wrapper .p2_slider_one {
    border: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  .p2_slider_wrapper {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }

  .p2loader {
    display: none;
  }

  #p2slider {
    padding-bottom: 50px;
    margin-top: 0;
  }

  .addui-slider .addui-slider-track .addui-slider-handle::after {
    width: 24px;
    height: 24px;
    top: 12px;
  }

  .addui-slider
    .addui-slider-track
    .addui-slider-handle
    .addui-slider-value
    span {
    bottom: 23px;
    font-size: 14px !important;
  }

  .rangeValue p {
    font-size: 14px;
    margin-left: -9px;
  }

  .rangeValue p#max {
    margin-right: -15px;
  }

  .drop_four_left {
    padding: 0px 30px;
  }

  .rangeValue {
    margin-top: -10px;
  }
}
