/*
====================================
Medium Screen - Others
====================================
*/

@media screen and (min-width: 1550px) {
  .container {
    max-width: 1440px !important;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1560px) {
  .logo_img a img {
    width: 150px;
  }

  .main_menu ul li a {
    font-size: 14px;
    margin: 0px 5px;
  }

  .icon_menu ul li a {
    font-size: 14px;
    margin: 0px 6px;
  }

  .menu_mega_three {
    column-gap: 20px;
  }

  .mega_five_dis {
    margin-left: -140px;
  }

  .slider_color_varient ul li button span {
    width: 28px;
    height: 28px;
  }

  .slider_color_varient ul li.color_link a span {
    width: 28px;
    height: 28px;
    top: -11px;
  }

  .sf_right p {
    font-size: 16px;
  }

  .p1bestseller_slider .owl-nav .owl-prev {
    position: absolute;
    left: -40px;
  }

  .p1bestseller_slider .owl-nav .owl-next {
    position: absolute;
    right: -40px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .logo_img a img {
    width: 165px;
  }

  .main_menu ul li a {
    font-size: 14px;
    margin: 0px 6px;
  }

  .icon_menu ul li a {
    font-size: 14px;
    margin: 0px 5px;
  }

  .icon_menu ul li select {
    font-size: 12px;
  }

  .main_menu ul li a span {
    font-size: 10px;
    margin-left: 2px;
  }

  .icon_menu ul li.cart_beg a span {
    transform: scale(0.8);
  }

  .mega_menu_one_right_img {
    padding-left: 10px;
  }

  .menu_mega_three {
    column-gap: 20px;
  }

  .mega_five_dis {
    margin-left: -150px;
  }

  .sliderText h2 {
    font-size: 30px;
    padding-right: 6%;
  }

  .p1_hero_slider .carousel-indicators {
    bottom: 8px;
  }

  #p1bestseller .owl-nav {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .logo_img a img {
    width: 130px;
  }

  .main_menu ul li a {
    font-size: 12px;
    margin: 0px 5px;
  }

  .icon_menu ul li a {
    font-size: 14px;
    margin: 0px 5px;
  }

  .icon_menu ul li select {
    font-size: 14px;
  }

  .main_menu ul li a span {
    font-size: 10px;
    margin-left: 2px;
  }

  .icon_menu ul li.cart_beg a span {
    transform: scale(0.8);
  }

  .mega_one_menu_left_link ul li a {
    font-size: 14px;
  }

  h3.mega_menu_heading {
    font-size: 20px;
  }

  .mega_menu_one_middle_img {
    margin-left: 0px;
  }

  .mega_menu_one_right_img {
    padding-left: 20px;
  }

  .mega_menu_one_right_img_block h3 {
    font-size: 18px;
  }

  .mega_menu_one {
    top: 60px;
    padding: 30px 0px;
  }

  .mega_two_link_item ul li a {
    font-size: 14px;
  }

  .menu_mega_three {
    column-gap: 15px;
  }

  .menu_mega_three_block p {
    font-size: 14px;
  }

  .mega_four_middle_link ul li a {
    font-size: 14px;
  }

  .mega_five_dis_box {
    padding-left: 0px;
    padding-right: 0px;
  }

  .mega_five_dis {
    margin-left: -150px;
  }

  .mega_five_dis_box_left p,
  .mega_five_dis_box_right p {
    font-size: 14px;
  }

  .megasix-box p {
    font-size: 14px;
  }

  .sliderText h2 {
    font-size: 30px;
    padding-right: 6%;
  }

  .p1_hero_slider .carousel-indicators {
    bottom: 8px;
  }

  #p1bestseller .owl-nav {
    display: none;
  }
}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* !=== Header area start === */
  .logo {
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .logo_img a img {
    width: 160px;
  }

  .icon_menu ul li a {
    margin: 0;
  }

  .search {
    width: 100%;
  }

  .search {
    padding: 15px;
  }

  .search-box {
    padding: 25px 0px;
  }

  .top_search,
  .sc-result {
    padding: 0px 0px;
  }

  .sc-result-box {
    column-gap: 25px;
    padding: 0px 10px;
  }

  .shoppingitemone_left img {
    width: 95px;
    height: 95px;
  }

  .mesureleft span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 1px;
  }

  .shoppingitemone_right p {
    font-size: 14px;
  }

  .masure {
    margin-top: 5px;
  }

  .action_button {
    margin-top: 4px;
  }

  .shopingitem_main_right p {
    font-size: 16px;
  }

  .couponbox {
    display: block !important;
  }

  .couponbox_Right input {
    width: 100%;
  }

  .pricePara p {
    font-size: 12px;
  }

  .orderButton ul {
    gap: 10px;
  }

  .orderButton ul li a {
    width: 155px;
    font-size: 14px;
  }
  /* !=== Header area end === */

  .p1_hero_slider .carousel-indicators {
    display: none;
  }

  .sliderText h2 {
    font-size: 46px;
    text-align: right;
    line-height: 1.3;
  }

  .sliderText {
    position: absolute;
    left: 0;
    right: inherit;
    top: inherit;
    transform: none;
    width: 100%;
    padding-right: 25px;
    bottom: 90px;
  }

  .p1fabric_one_text h2 {
    font-size: 30px;
  }

  .p1fabric_two_left_content img {
    width: 90px;
    margin-bottom: 20px;
  }

  .fabric_heading h2 {
    font-size: 35px;
  }

  .fabric_heading p {
    font-size: 16px;
  }

  #p1fabric {
    padding-top: 70px;
  }

  #p1bestseller .owl-nav {
    display: none;
  }

  #p1bestseller {
    padding-top: 70px;
    padding-bottom: 50px;
  }

  .p1bestseller_heading h2 {
    font-size: 35px;
  }
}

/*
====================================
Small Screen - Mobile
====================================
*/
@media screen and (min-width: 576px) and (max-width: 767px) {
  /* !=== Header area start === */
  .logo {
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .logo_img a img {
    width: 160px;
  }

  .icon_menu ul li a {
    margin: 0;
  }

  .search {
    width: 100%;
  }

  .search {
    padding: 15px;
  }

  .search-box {
    padding: 25px 0px;
  }

  .top_search,
  .sc-result {
    padding: 0px 0px;
  }

  .sc-result-box {
    column-gap: 25px;
    padding: 0px 10px;
  }

  .shoppingitemone_left img {
    width: 95px;
    height: 95px;
  }

  .mesureleft span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 1px;
  }

  .shoppingitemone_right p {
    font-size: 14px;
  }

  .masure {
    margin-top: 5px;
  }

  .action_button {
    margin-top: 4px;
  }

  .shopingitem_main_right p {
    font-size: 16px;
  }

  .couponbox {
    display: block !important;
  }

  .couponbox_Right input {
    width: 100%;
  }

  .pricePara p {
    font-size: 12px;
  }

  .orderButton ul {
    gap: 10px;
  }

  .orderButton ul li a {
    width: 155px;
    font-size: 14px;
  }
  /* !=== Header area end === */

  .p1_hero_slider .carousel-indicators {
    display: none;
  }

  .sliderText h2 {
    font-size: 46px;
    text-align: right;
    line-height: 1.3;
  }

  .sliderText {
    position: absolute;
    left: 0;
    right: inherit;
    top: inherit;
    transform: none;
    width: 100%;
    padding-right: 25px;
    bottom: 90px;
  }

  #p1fabric {
    padding-top: 40px;
  }

  .fabric_heading h2 {
    font-size: 32px;
  }

  .fabric_heading p {
    font-size: 16px;
    margin-top: 2px;
  }

  .fabric_heading {
    margin-bottom: 20px;
  }

  .p1fabric_one {
    display: block;
  }

  .p1fabirc_one_left,
  .p1fabirc_two_left {
    width: 100%;
  }

  .p1fabric_one_text {
    bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .p1fabric_one_text h2 {
    font-size: 28px;
  }

  .p1fabric_one_text p {
    font-size: 13px;
  }

  .p1fabric_one_text_right a {
    font-size: 13px;
  }

  .p1fabric_two_left {
    width: 40%;
  }

  .p1fabric_two_right {
    width: 60%;
  }

  .p1fabric_two_left_content img {
    width: 65px;
    margin-bottom: 20px;
  }

  .p1fabric_two_left_content p {
    font-size: 13px;
    padding: 0px 6px;
  }

  .p1fabric_one_text {
    display: block;
  }

  .p1fabric_one_text_right {
    display: none;
  }

  #p1bestseller {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .p1bestseller_heading h2 {
    font-size: 32px;
  }

  .p1bestseller_slider {
    margin-top: 20px;
  }

  #p1bestseller .container {
    padding-left: 0;
    padding-right: 0;
  }

  #p1bestseller .owl-nav {
    display: none;
  }

  .slider_inner_content {
    padding: 8px;
  }

  .best_slider_inner_heading_left h5 {
    font-size: 20px;
  }

  .best_slider_inner_heading_right p {
    font-size: 18px;
  }

  .best_slider_inner_heading_left p {
    font-size: 13px;
  }

  .slider_color_varient ul li button span {
    width: 26px;
    height: 26px;
    margin-right: 0px;
  }

  .slider_color_varient ul li.color_link a span {
    width: 26px;
    height: 26px;
    font-size: 11px;
    top: -8px;
  }

  .sf_left span {
    font-size: 22px;
  }

  .sf_right p {
    font-size: 15px;
  }

  .sf_right p span {
    margin-right: 6px;
  }
}

/*
====================================
Xtra Small Screen - Small Mobile
====================================
*/
@media screen and (max-width: 576px) {
  /* !=== Header area start === */
  .logo {
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .logo_img a img {
    width: 160px;
  }

  .icon_menu ul li a {
    margin: 0;
  }

  .search {
    width: 100%;
  }

  .search {
    padding: 15px;
  }

  .search-box {
    padding: 25px 0px;
  }

  .top_search,
  .sc-result {
    padding: 0px 0px;
  }

  .sc-result-box {
    column-gap: 25px;
    padding: 0px 10px;
  }

  .shoppingitemone_left img {
    width: 95px;
    height: 95px;
  }

  .mesureleft span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 1px;
  }

  .shoppingitemone_right p {
    font-size: 14px;
  }

  .masure {
    margin-top: 5px;
  }

  .action_button {
    margin-top: 4px;
  }

  .shopingitem_main_right p {
    font-size: 16px;
  }

  .couponbox {
    display: block !important;
  }

  .couponbox_Right input {
    width: 100%;
  }

  .pricePara p {
    font-size: 12px;
  }

  .orderButton ul {
    gap: 10px;
  }

  .orderButton ul li a {
    width: 155px;
    font-size: 14px;
  }
  /* !=== Header area end === */

  .p1_hero_slider .carousel-indicators {
    display: none;
  }

  .sliderText h2 {
    font-size: 26px;
    text-align: right;
    line-height: 1.3;
  }

  .sliderText {
    position: absolute;
    left: 0;
    right: inherit;
    top: inherit;
    transform: none;
    width: 100%;
    padding-right: 25px;
    bottom: 90px;
  }

  #p1fabric {
    padding-top: 40px;
  }

  .fabric_heading h2 {
    font-size: 32px;
  }

  .fabric_heading p {
    font-size: 16px;
    margin-top: 2px;
  }

  .fabric_heading {
    margin-bottom: 20px;
  }

  .p1fabric_one {
    display: block;
  }

  .p1fabirc_one_left,
  .p1fabirc_two_left {
    width: 100%;
  }

  .p1fabric_one_text {
    bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .p1fabric_one_text h2 {
    font-size: 28px;
  }

  .p1fabric_one_text p {
    font-size: 13px;
  }

  .p1fabric_one_text_right a {
    font-size: 13px;
  }

  .p1fabric_two_left {
    width: 40%;
  }

  .p1fabric_two_right {
    width: 60%;
  }

  .p1fabric_two_left_content img {
    width: 65px;
    margin-bottom: 20px;
  }

  .p1fabric_two_left_content p {
    font-size: 13px;
    padding: 0px 6px;
  }

  .p1fabric_one_text {
    display: block;
  }

  .p1fabric_one_text_right {
    display: none;
  }

  #p1bestseller {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .p1bestseller_heading h2 {
    font-size: 32px;
  }

  .p1bestseller_slider {
    margin-top: 20px;
  }

  #p1bestseller .container {
    padding-left: 0;
    padding-right: 0;
  }

  #p1bestseller .owl-nav {
    display: none;
  }

  .slider_inner_content {
    padding: 8px;
  }

  .best_slider_inner_heading_left h5 {
    font-size: 16px;
  }

  .best_slider_inner_heading_right p {
    font-size: 16px;
  }

  .best_slider_inner_heading_left p {
    font-size: 9px;
  }

  .slider_color_varient ul li button span {
    width: 20px;
    height: 20px;
    margin-right: 0px;
  }

  .slider_color_varient ul li.color_link a span {
    width: 20px;
    height: 20px;
    font-size: 8px;
    top: -7px;
  }

  .sf_left span {
    font-size: 15px;
  }

  .sf_right p {
    font-size: 11px;
  }

  .sf_right p span {
    margin-right: 6px;
  }
}
