@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #fff;
  color: #000;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

label {
  margin-bottom: 0;
}

::selection {
  color: white;
  background: #ff7675;
}

::-webkit-selection {
  color: white;
  background: #ff7675;
}

::-moz-selection {
  color: white;
  background: #ff7675;
}

.scrolltotop {
  width: 40px;
  height: 40px;
  border-radius: 20px 20px 0 0;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  text-align: center;
  padding-top: 8px;
  font-size: 22px;
  color: #ffffff;
  position: fixed;
  right: 5px;
  bottom: 5px;
  display: none;
  transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
}

.scrolltotop:hover {
  background: #000;
  color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/*? -- header area start -- */

header {
  background-color: #fff;
  padding: 10px 0px;
  overflow: hidden;
}

.logo_img a img {
  display: inline-block;
  width: 200px;
}

.main_menu ul li,
.icon_menu ul li {
  display: inline-block;
}

.main_menu ul li a {
  display: inline-block;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  margin: 0px 12px;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease;
}

.main_menu ul li a span {
  display: inline-block;
  font-size: 12px;
  opacity: 0.6;
  margin-left: 5px;
}

.main_menu ul li a:hover {
  border-color: #000;
}

.icon_menu ul li a {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin: 0px 12px;
}

.icon_menu ul li select {
  border: 0;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
}

.icon_menu ul li.cart_beg a {
  position: relative;
}

.icon_menu ul li.cart_beg a span {
  display: flex;
  font-size: 10px;
  color: #fff;
  background-color: #9ab774;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  right: -11px;
}
/* -- header area end -- */

/* -- mega menu start -- */
.menu_menu_one_wrapper {
  padding: 0px 50px;
}

.mega_menu_one {
  background-color: rgba(246, 243, 240, 0.9);
  padding: 60px 0px;
  position: absolute;
  width: 100%;
  top: 75px;
  left: 0;
  border-top: 1px solid #000;
  transition: all 0.3s ease;
  transform: scaleY(0);
  transform-origin: top;
  visibility: hidden;
}

h3.mega_menu_heading {
  font-size: 24px;
  color: #5e695a;
  font-weight: normal;
  margin-bottom: 18px;
}

.mega_one_menu_left_link ul li a {
  display: inline-block;
  font-size: 16px;
  color: #000;
  margin: 5px 0px;
  transition: all 0.2s ease;
}

.mega_one_menu_left_link ul li a span {
  display: none;
}

.mega_one_menu_left_link ul li a:hover {
  color: #9ab774;
}

.mega_one_menu_left_link ul li a:hover span {
  display: inline-block;
}

.mega_one_menu_left_link ul li a span img {
  display: inline-block;
  width: 22px;
  position: relative;
  top: -2px;
  margin-right: 15px;
}

.mega_menu_one_middle_img {
  height: 558px;
}

.mega_menu_one_middle_img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mega_menu_one_right_img_block h3 {
  font-size: 22px;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  transition: all 0.2s ease;
}

.mega_menu_one_right_img_block h3 img {
  display: inline-block;
  width: 22px;
  transition: all 0.2s ease;
}

.mega_menu_one_right_img_block > img {
  display: inline-block;
  width: 100%;
  margin-top: 16px;
  transition: all 0.2s ease;
}

.mega_menu_one_middle_img {
  margin-left: -40px;
}

.mega_menu_one_right_img {
  padding-left: 100px;
}

.mega_menu_one_right_img_block {
  padding: 15px;
  border: 1px solid #000;
  padding-top: 10px;
}

.mega_menu_one_right_img_two {
  border-top: 0;
}

.mhblink .activeHover {
  color: #9ab774;
}

.mhblink .activeHover span {
  display: inline-block;
}

.mega_menu_one_right_img_block h3:hover img {
  transform: translateX(5px);
}

.openMegaMenu {
  transform: scaleY(1);
  visibility: visible;
  z-index: 99;
}

.headermain-wrapper {
  position: relative;
}

.mega_two_link_item ul li a {
  display: inline-block;
  font-size: 16px;
  color: #000;
  margin: 5px 0px;
  transition: all 0.2s ease;
}

.mega_two_link_item ul li a span img {
  display: none;
  width: 22px;
  position: relative;
  top: -2px;
  margin-right: 15px;
}

.mega_two_link_item ul li a:hover {
  color: #9ab774;
}

.mega_two_link_item ul li a:hover span img {
  display: inline-block;
}

.menu_mega_three {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 40px;
}

.menu_mega_three_block img {
  display: block;
  width: 100%;
}

.menu_mega_three_block p {
  font-size: 16px;
  color: #000;
  margin-top: 15px;
  text-align: center;
}

.mega_four_middle_link ul li span {
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.mega_four_middle_link ul li span img {
  display: block;
  width: 100%;
}

.mega_four_middle_link ul li a {
  display: flex;
  font-size: 16px;
  color: #000;
  margin: 10px 0px;
  transition: all 0.2s ease;
  align-items: center;
  gap: 15px;
}

.mega_four_middle_link ul li a:hover {
  color: #9ab774;
}

.mega_four_middle_link ul li.cpWhite a span {
  background-color: #fff;
}

.mega_four_middle_link ul li.cpBlack a span {
  background-color: #000000;
}

.mega_four_middle_link ul li.cpBeige a span {
  background-color: #fcde86;
}

.mega_four_middle_link ul li.cpGrey a span {
  background-color: #8e8e8e;
}

.mega_four_middle_link ul li.cpRed a span {
  background-color: #f82200;
}

.mega_four_middle_link ul li.cpYellow a span {
  background-color: #fbed00;
}

.mega_four_middle_link ul li.cpBlue a span {
  background-color: #2d72c0;
}

.mega_four_middle_link ul li.cpGreen a span {
  background-color: #27b416;
}

.mega_four_middle_link ul li.cpPink a span {
  background-color: #f288ff;
}

.mhblinktwo .activeHover {
  color: #9ab774;
}

.mhblinktwo .activeHover span {
  display: inline-block;
}

.mega_five_dis {
  padding: 20px;
  border: 1px solid #000;
}

.mega_five_dis_img img {
  display: block;
  width: 100%;
  height: 325px;
  object-fit: cover;
}

.mega_five_dis_box {
  padding-left: 25px;
  padding-right: 25px;
}

.mega_five_dis_box_left p {
  font-size: 16px;
  color: #000;
  margin-bottom: 2px;
}

.mega_five_dis_box_left p a {
  display: inline-block;
  color: #9ab774;
  margin-left: 15px;
  transition: all 0.2s ease;
}

.mega_five_dis_box_left p a:hover {
  opacity: 0.7;
}

.mega_five_dis_box_right span {
  display: inline-block;
  min-width: 165px;
}

.mega_five_dis_box_left,
.mega_five_dis_box_right {
  margin-top: 15px;
}

.megasix_block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.megasix-box {
  height: 250px;
}

.megasix-box p {
  margin-top: 30px;
}

.megasix-box-one {
  background-color: #f5f7ec;
}

.megasix-box-one img {
  display: inline-block;
  width: 85px;
}

.megasix-box-two {
  background-color: #fcf8e9;
}

.megasix-box-two img {
  display: inline-block;
  width: 75px;
}

.megasix-box-three {
  background-color: #dfe3cf;
}

.megasix-box-three img {
  display: inline-block;
  width: 50px;
}

.megasix-box-four {
  background-color: #beccbd;
}

.megasix-box-four img {
  display: inline-block;
  width: 28px;
}

.megasix-box-five {
  background-color: #f7edda;
}

.megasix-box-five img {
  display: inline-block;
  width: 62px;
}

.megasix-box-six {
  background-color: #f4dfbb;
}

.megasix-box-six img {
  display: inline-block;
  width: 185px;
}

.megasix-box {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 35px;
}
/* -- mega menu end -- */

/* -- small part menu start -- */
.search {
  position: fixed;
  width: 550px;
  height: 100vh;
  background-color: #fff;
  top: 0;
  right: -100%;
  z-index: 99999;
  padding: 25px;
  transition: all 0.4s ease;
  overflow-x: hidden;
  overflow-y: auto;
}

.search::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

.opensidebar {
  right: 0;
}

.search-heading h3 {
  font-weight: normal;
  color: #576554;
  font-size: 24px;
}

.search-heading button {
  display: inline-block;
  border: 0;
  outline: none;
  padding: 0;
  background-color: transparent;
}

.search-heading button img {
  display: inline-block;
  width: 22px;
}

.search-box input {
  display: block;
  width: 100%;
  background-color: #f7f6f4;
  border: 0;
  outline: none;
  border-radius: 25px;
  padding: 14px 22px;
  color: #000;
  font-size: 18px;
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-position: top 15px right 25px;
  background-size: 24px;
  padding-right: 60px;
}

.search-box input::placeholder {
  opacity: 0.4;
}

.search-box {
  padding: 25px 35px;
}

.top_search p {
  font-size: 18px;
  color: #000;
  margin-bottom: 8px;
}

.top_search ul li {
  display: inline-block;
}

.top_search ul li a {
  display: inline-block;
  font-size: 16px;
  color: #9ab774;
  margin-right: 5px;
}

.top_search,
.sc-result {
  padding: 0px 55px;
}

.sc-result {
  display: none;
}

.sc-result p {
  font-size: 18px;
  color: #000;
}

.sc-result a {
  display: inline-block;
  color: #9bb974;
  transition: all 0.2s ease;
}

.sc-result a:hover {
  opacity: 0.7;
}

.sc-result-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 42px;
  padding: 0px 40px;
}

.sc-result-box-one {
  margin-top: 45px;
}

.sc-result-box-one img {
  width: 100%;
  height: 135px;
  object-fit: cover;
}

.sc-result-box-one-content {
  padding: 3px 6px;
}

.sc-result-box-one-content span {
  display: inline-block;
  opacity: 0.6;
}

.sc-see-all {
  width: 100%;
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  border: 1px solid #000;
  transition: all 0.2s ease;
}

.sc-see-all:hover {
  background-color: #9bb974;
}

.sc-see-all a {
  color: #000;
  transition: all 0.2s ease;
}

.sc-see-all:hover a {
  color: #fff;
}

span#searchValue {
  max-width: 120px;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
}

.overlay {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.overlay:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
}

.loginSocial {
  padding: 50px 0px;
}

.loginSocial ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.loginSocial ul li {
  display: inline-block;
}

.loginSocial ul li img {
  display: inline-block;
  width: 60px;
}

.lgtabbutton ul {
  display: flex;
  align-items: center;
}

.lgtabbutton ul li {
  display: block;
  width: 50%;
  text-align: center;
  border: 1px solid #2e3c18;
  padding: 7px 10px;
  cursor: pointer;
}

.lgtabbutton ul li:first-child {
  border-right: 0;
}

.login_form {
  margin-top: 50px;
}

.login_form_input label {
  font-size: 16px;
  color: #2e3c18;
  margin-left: 3px;
}

.login_form_input input {
  display: block;
  width: 100%;
  border: 1px solid #b5ca9b;
  outline: none;
  padding: 7px 10px;
}

.login_form_input input[type="password"] {
  padding-right: 60px;
}

.login_form_password {
  position: relative;
}

.login_form_password span {
  display: inline-block;
  background-color: transparent;
  border: 0;
  outline: none;
  color: #b4bcaa;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.login_form_input p {
  font-size: 14px;
  color: #9ab774;
  margin-top: 10px;
  cursor: pointer;
}

.login_form_submit button {
  display: inline-block;
  padding: 7px 10px;
  background-color: #2e3c18;
  outline: none;
  color: #fff;
  border: 0;
  width: 250px;
  margin: auto;
}

.login_form_submit {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 50px;
}

.reg_form {
  display: none;
}

.lgtabbutton ul li.tabActive {
  background-color: #2e3c18;
  color: #fff;
}

.shoppingitemone_left img {
  display: block;
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.shoppingitemone_right {
  margin-left: 15px;
}

.shoppingitemone_right p span {
  opacity: 0.6;
}

.mesureleft span {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #9ab774;
  position: relative;
  top: -5px;
  margin-right: 10px;
}

.masure {
  margin-top: 15px;
}

.action_button ul li {
  display: inline-block;
}

.action_button ul li a {
  display: inline-block;
  font-size: 14px;
  color: #9ab774;
  margin-right: 10px;
  transition: all 0.2s ease;
}

.action_button ul li:last-child a {
  color: #979797;
}

.action_button ul li a:hover {
  color: #9ab774;
}

.action_button {
  margin-top: 18px;
}

.shopingitem_main_right p {
  font-size: 18px;
}

.shoppingwrapper {
  margin-top: 30px;
  max-height: 515px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 10px;
  margin-bottom: 15px;
}

.shoppingitemone {
  padding: 15px 0px;
  border-bottom: 1px solid #9ab774;
}

.shoppingwrapper::-webkit-scrollbar {
  width: 10px;
}

.shoppingwrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.shoppingwrapper::-webkit-scrollbar-thumb {
  background: #9bb974;
  border-radius: 10px;
}

.couponbox_Right {
  border: 1px solid #2e3c18;
}

.couponbox_Right input {
  display: block;
  width: 210px;
  border: 0;
  outline: none;
  padding: 4px 10px;
}

.couponbox_Right button {
  display: inline-block;
  padding: 7px 25px;
  background-color: #2e3c18;
  outline: none;
  color: #fff;
  border: 0;
  transition: all 0.2s ease;
}

.couponbox_Right button:hover {
  opacity: 0.7;
}

.couponbox {
  padding-bottom: 16px;
  border-bottom: 1px solid #9ab774;
}

.pricetable {
  padding: 10px 0px;
  border-bottom: 1px solid #9ab774;
}

.totalpc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px 0px;
}

.totalpc h4 {
  font-weight: 400;
  font-size: 20px;
}

.totalpc span {
  display: inline-block;
  font-size: 20px;
}

.pricePara p {
  font-size: 14px;
  color: #2e3c18;
}

.orderButton ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.orderButton ul li a {
  display: block;
  padding: 8px 10px;
  background-color: #2e3c18;
  border: 1px solid #2e3c18 !important;
  outline: none;
  color: #fff;
  border: 0;
  width: 190px;
  text-align: center;
  transition: all 0.2s ease;
}

.orderButton ul li:first-child a {
  background-color: transparent;
  color: #2e3c18;
}

.orderButton ul li a:hover {
  background-color: #2e3c18;
  opacity: 0.7;
  color: #fff;
}

.cartbag_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.orderButton {
  margin-top: 25px;
  margin-bottom: 25px;
}

.bar {
  width: 35px;
  cursor: pointer;
}

.bar span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000;
  border-radius: 16px;
  margin: 8px 0px;
}

/* -- small part menu end -- */

.mobile_menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 999;
  top: 0;
  left: -100%;
  padding: 20px 0px;
  transition: all 0.4s ease;
}

.mobile_menu_open {
  left: 0;
}

.mobile_menu_heading button {
  display: inline-block;
  border: 0;
  outline: none;
  background-color: transparent;
  padding: 0;
}

.mobile_menu_heading button img {
  display: inline-block;
  width: 20px;
}

.mobile_menu_items ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  font-size: 18px;
  padding: 12px 30px;
  border-bottom: 1px solid #000;
}

.mobile_menu_heading {
  padding: 0px 30px;
  margin-bottom: 25px;
}

.phone_contact {
  padding: 0px 30px;
}

.phone_contact ul li a {
  display: inline-block;
  font-size: 18px;
  color: #000;
}

.phone_contact ul li:last-child a {
  margin-top: 20px;
  color: #9bb974;
}

.phone_contact ul li a span {
  display: inline-block;
  font-size: 22px;
  width: 35px;
  color: #000 !important;
}

.phone_contact {
  margin-top: 25px;
}

.social_items {
  padding: 0px 30px;
  margin-top: 60px;
}

.social_items ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.social_items ul li a {
  display: inline-block;
}

.social_items ul li a img {
  display: inline-block;
  width: 40px;
}

#close_mobile_menu {
  cursor: pointer;
}

.mobile_sub_menu_items ul li a {
  display: block;
  color: #000;
  font-size: 18px;
  padding: 12px 30px;
  border-bottom: 1px solid #000;
}

/* bottom_menu_mobile area start */
.bottom_menu_mobile {
  background-color: #516539;
  padding: 10px 15px;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 99;
}

.bottomMobile_fixed ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottomMobile_fixed ul li a img {
  display: inline-block;
  width: 25px;
}
/*? bottom_menu_mobile area end */

/* !====== Page 1 Start ====== */
/* -- hero area start -- */
.p1_hero_slider .carousel-item img {
  display: block;
  width: 100%;
}

.p1_hero_slider {
  overflow: hidden;
}

.p1_slider_Innter {
  position: relative;
}

.sliderText {
  position: absolute;
  right: 0%;
  top: 38%;
  width: 100%;
}

.sliderText h2 {
  color: #fff;
  font-family: "Petit Formal Script", cursive;
  font-size: 55px;
  text-align: right;
  line-height: 1.6;
  padding-right: 10%;
}

.p1_hero_slider .carousel-indicators [data-bs-target] {
  width: 110px;
  height: 5px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 5px;
}

.p1_hero_slider .carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #fff;
}

.p1_hero_slider .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 60px;
}
/* -- hero area end -- */

/* -- p1fabirc area start -- */
#p1fabric {
  padding-top: 100px;
}

.fabric_heading h2 {
  font-size: 50px;
  font-weight: normal;
  color: #5e695a;
}

.fabric_heading p {
  font-size: 18px;
  color: #000;
  margin-top: 5px;
}

.p1fabric_one {
  display: flex;
}

.p1fabirc_one_left {
  width: 50%;
  position: relative;
}

.p1fabirc_one_left img {
  display: block;
  width: 100%;
}

.p1fabric_one_text {
  display: flex;
  align-items: end;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
  color: #fff;
}

.p1fabric_one_text h2 {
  font-size: 42px;
  font-weight: normal;
}

.p1fabric_one_text p {
  font-size: 15px;
}

.p1fabric_one_text_right a {
  display: inline-block;
  color: #fff;
  transition: all 0.2s ease;
}

.p1fabric_one_text_right a:hover {
  color: #9ab774;
}

.p1fabric_one_text_right a span {
  display: inline-block;
  margin-left: 5px;
}

.p1fabirc_two_left .p1fabric_one_text_left h2,
.p1fabirc_two_left .p1fabric_one_text_left p,
.p1fabirc_two_left .p1fabric_one_text_right a {
  color: #000;
}

.p1fabric_two {
  display: flex;
}

.p1fabric_two_left {
  width: 32%;
}

.p1fabric_two_right {
  width: 68%;
}

.p1fabric_two_left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p1fabric_two_left_content {
  text-align: center;
}

.p1fabric_two_left_content img {
  display: inline-block;
  width: 250px;
  margin-bottom: 60px;
}

.p1fabric_two_left_content p {
  font-size: 15px;
}

.fabric_heading {
  margin-bottom: 35px;
}
/* -- p1fabirc area end -- */

/* -- p1bestseller area start -- */
#p1bestseller {
  padding-top: 100px;
  padding-bottom: 80px;
}

.p1bestseller_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p1bestseller_heading h2 {
  font-size: 50px;
  font-weight: normal;
  color: #5e695a;
}

.p1bestseller_heading a {
  display: inline-block;
  color: #5e695a;
}

.p1bestseller_heading a span {
  display: inline-block;
  color: #000;
  transition: all 0.2s ease;
}

.p1bestseller_heading a:hover span {
  color: #5e695a;
}

.p1bestseller_slider {
  margin-top: 40px;
}

.best_slider_inner_heading {
  display: flex;
  justify-content: space-between;
}

.best_slider_inner_heading_left h5 {
  font-size: 22px;
  font-weight: normal;
}

.best_slider_inner_heading_left p {
  margin-top: 5px;
}

.best_slider_inner_heading_right p {
  font-size: 22px;
  opacity: 0.6;
}

.slider_color_varient ul li {
  display: inline-block;
}

.slider_color_varient ul li button {
  border: 0;
  outline: none;
  border: 0;
  outline: none;
  background-color: transparent;
  padding: 0;
}

.slider_color_varient ul li button span {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #a8cdd4;
  margin-right: 8px;
  border: 2px solid transparent;
}

.slider_color_varient ul li button.bsactive span {
  border-color: #000;
}

.slider_color_varient ul li:nth-child(2) button span {
  background-color: #b2c3d3;
}

.slider_color_varient ul li:nth-child(3) button span {
  background-color: #b4886e;
}

.slider_color_varient ul li:nth-child(4) button span {
  background-color: #88a5ab;
}

.slider_color_varient ul li:nth-child(5) button span {
  background-color: #6e8bee;
}

.slider_color_varient ul li.color_link a span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #e3e0e0;
  font-size: 14px;
  color: #000;
  position: relative;
  top: -12px;
}

.slider_color_varient {
  margin: 8px 0px;
}

.slider_favorite {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sf_left span {
  display: inline-block;
  font-size: 24px;
  opacity: 0.6;
}

.sf_right p {
  font-size: 20px;
}

.sf_right p span {
  display: inline-block;
  opacity: 0.6;
  margin-right: 20px;
}

.slider_inner_content {
  padding: 15px;
}

.p1bestseller_slider .owl-nav img {
  display: inline-block;
  width: 30px;
}

.p1bestseller_slider {
  position: relative;
}

.p1bestseller_slider .owl-nav .owl-prev {
  position: absolute;
  left: -65px;
  top: 22%;
  cursor: pointer;
}

.p1bestseller_slider .owl-nav .owl-next {
  position: absolute;
  right: -65px;
  top: 22%;
  cursor: pointer;
}
/* -- p1bestseller area end -- */

/* -- p1pattrn area start -- */
.p1pattrn_one {
  display: flex;
}

.p1pattrn_one .p1fabric_two_right {
  width: 60%;
}

.p1pattrn_one .p1fabric_two_left {
  width: 40%;
  background-color: #434133;
}

.p1pattrn_two .p1fabric_two_left {
  background-color: #c4cabb;
}
/* -- p1pattrn area end -- */

/* -- p1industry area start -- */
#p1industry {
  padding: 100px 0px;
}

.p1industry_wrapper h2 {
  font-size: 50px;
  font-weight: normal;
  color: #5e695a;
}

#p1industry .menu_mega_three_block {
  margin-top: 30px;
}

#p1industry .menu_mega_three::-webkit-scrollbar {
  width: 10px;
}

#p1industry .menu_mega_three::-webkit-scrollbar-track {
  border-radius: 0px;
}

/* Handle */
#p1industry .menu_mega_three::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0px;
}
/* -- p1industry area end -- */

/* -- p1bull area start -- */
#p1bull {
  background-color: #f5f8ec;
  padding: 50px 0px;
  background-image: url(../img/bull.png);
  background-repeat: no-repeat;
  background-position: top 130px right 0px;
  background-size: 260px;
}

.p1bull_wrapper {
  max-width: 62%;
}

.p1bull_wrapper h2 {
  font-size: 48px;
  color: #5e695a;
  font-weight: normal;
}

.p1bull_wrapper h6 {
  font-size: 24px;
  font-weight: 500;
  color: #5e695a;
  margin-top: 6px;
}

.p1bull_wrapper p {
  font-size: 18px;
  margin: 25px 0px;
}

.p1bull_wrapper a {
  display: inline-block;
  font-size: 18px;
  color: #000;
  transition: all 0.2s ease;
}

.p1bull_wrapper a:hover {
  color: #5e695a;
}
/* -- p1bull area end -- */

/* -- p1logo area start -- */
#p1logo .inner {
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#p1logo {
  padding: 20px 0px;
  border-top: 2px solid #bdbeb4;
  border-bottom: 2px solid #bdbeb4;
}
/* -- p1logo area end -- */

/* -- p1service area start -- */
.headingUp {
  font-size: 50px;
  font-weight: normal;
  color: #5e695a;
}

.service_block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
}

.service_block_one {
  border: 1px solid #566453;
  padding: 25px;
  border-right: 0;
}

.service_block_one_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service_block_one_left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.service_block_one_left_img img {
  display: block;
  width: 100px;
}

.service_block_one_left_heading h3 {
  font-weight: normal;
  font-size: 24px;
}

.service_block_one_para {
  margin-top: 15px;
}

.service_block_one_para p {
  font-size: 17px;
  margin-bottom: 0;
}

.service_block_two {
  border-right: 1px solid #566453;
}

#p1service {
  padding-top: 100px;
  padding-bottom: 60px;
}

.service_block_one_right span {
  display: inline-block;
  font-size: 14px;
  padding-left: 25px;
}

.service_block_one_para p {
  font-size: 12px;
}
/* -- p1service area end -- */

/* -- p1oreder area start -- */
#p1order {
  background-color: #f7f6f3;
  padding: 40px 0px;
}

.p1order_one_img img {
  display: block;
  width: 80px;
}

.p1order_content h4 {
  font-size: 26px;
  font-weight: normal;
  color: #9bb974;
  margin: 20px 0px;
}

.p1order_content {
  font-size: 18px;
  max-width: 90%;
}

.p1order_one_img {
  position: relative;
}

.p1order_one_img:after {
  content: "";
  display: block;
  width: 72%;
  height: 2px;
  background-color: #516539;
  position: absolute;
  left: 29%;
  top: 53%;
}

.p1order_one_last .p1order_one_img:after {
  content: none;
}

.p1order_one {
  margin-top: 80px;
}

.p1order_para {
  margin-top: 30px;
}

.p1order_para p {
  font-size: 15px;
  margin-bottom: 8px;
}

/* -- p1oreder area end -- */

/* -- p1explore area start -- */
#p1explore {
  background-image: url(../img/exp.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 160px;
  padding-bottom: 250px;
}

.p1explore_wrapper {
  max-width: 50%;
  margin-left: auto;
}

.p1explore_wrapper h5 {
  font-size: 42px;
  font-weight: 400;
}

.p1explore_wrapper h2 {
  font-size: 80px;
  font-weight: normal;
}

.p1explore_wrapper a {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background-color: #2e3c18;
  padding: 13px 65px;
  margin-top: 40px;
  transition: all 0.2s ease;
}

.p1explore_wrapper a:hover {
  opacity: 0.7;
}
/* -- p1explore area end -- */

/* -- p1touch area start -- */
#p1touch {
  background-color: #dfe3cf;
  padding: 80px;
}

.p1touch_wrapper {
  background-color: #fff;
  padding: 50px;
}

.p1touch_business {
  margin-top: 25px;
}

.p1touch_business span,
.p1touch_mail span,
.p1touch_tele span,
.p1sto span {
  display: block;
  font-size: 16px;
}

.p1touch_business p,
.p1touch_mail p,
.p1touch_tele p,
.p1sto p {
  font-size: 18px;
  line-height: 1.2;
}

.p1touch_mail,
.p1touch_tele,
.p1sto {
  margin-top: 25px;
}

.p1touch_mail a,
.p1touch_tele a,
.p1link a {
  display: inline-block;
  font-size: 18px;
  color: #9bb974;
  transition: all 0.2s ease;
}

.p1touch_mail a:hover,
.p1touch_tele a:hover,
.p1link a:hover {
  opacity: 0.7;
}

.p1link {
  margin-top: 15px;
}

.p1link a span {
  position: relative;
  top: 2px;
}

.p1map iframe {
  display: block;
  width: 100%;
  height: 480px;
}

.p1touch_tele a {
  color: #000 !important;
}

/* -- p1touch area end -- */

/* -- p1review area start -- */
.review_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review_heading a {
  display: inline-block;
  font-size: 18px;
  color: #000;
  transition: all 0.2s ease;
}

.review_heading a:hover {
  opacity: 0.7;
}

.review_block_one {
  padding: 0px 30px;
  margin-top: 60px;
}

.review_block_one > p {
  font-size: 18px;
  min-height: 150px;
}

.review_block_name h5 {
  font-size: 18px;
  color: #9bb974;
  font-weight: normal;
}

.review_block {
  position: relative;
}

.review_block:after {
  content: "";
  display: block;
  width: 80px;
  height: 55px;
  position: absolute;
  left: -62px;
  top: 5px;
  background-image: url(../img/leftq.png);
  background-size: 100% 100%;
}

.review_block:before {
  content: "";
  display: block;
  width: 80px;
  height: 55px;
  position: absolute;
  right: -62px;
  bottom: -68px;
  background-image: url(../img/rightq.png);
  background-size: 100% 100%;
}

#p1review {
  background-color: #f7f6f3;
  padding-top: 65px;
  padding-bottom: 120px;
}

.seereview a {
  display: inline-block;
  font-size: 14px;
  color: #000;
  margin-top: 40px;
}

.seereview a span {
  display: inline-block;
  position: relative;
  top: 2px;
}
/* -- p1review area end -- */

/* -- footer area start -- */
.footer_wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 15px;
}

.footer_one h4 {
  font-size: 18px;
  color: #000;
  font-weight: normal;
  margin-bottom: 25px;
}

.footer_one ul {
  margin-left: 20px;
}

.footer_one ul li a {
  color: #000;
  font-size: 18px;
  margin-bottom: 12px;
  display: inline-block;
  transition: all 0.2s ease;
}

.footer_one ul li a:hover {
  color: #516539;
}

.footer_one ul li a img {
  display: inline-block;
  width: 30px;
  margin-right: 15px;
}

.hour_one {
  margin-bottom: 20px;
}

.hour_one p {
  font-size: 18px;
}

.reach_us p {
  font-size: 18px;
  color: #000;
}

.reach_us p strong {
  font-weight: 500;
}

.res_tel {
  margin: 20px 0px;
}

.res_tel ul {
  margin-left: 0;
}

.res_tel ul li a {
  margin-bottom: 8px;
  transition: all 0.2s ease;
}

.res_tel ul li a:hover {
  color: #93b26a;
}

.res_tel ul li a span {
  display: inline-block;
  margin-right: 10px;
}

.res_tel ul li:last-child a {
  color: #93b26a;
}

.res_bottom ul {
  margin-left: 0;
}

.res_bottom ul li {
  display: inline-block;
}

.res_bottom ul li a {
  display: inline-block;
  font-size: 16px;
  color: #93b26a;
  margin-bottom: 0;
}

.res_bottom p {
  font-size: 16px;
}

footer {
  padding: 60px 0px;
  border-top: 2px solid #94b36c;
}
/* -- footer area end -- */

/* !====== Page 1 end ====== */

/* !====== Page 2 start ====== */
/* -- p2_hero area start -- */
#p2_hero {
  overflow: hidden;
}

#p2_hero .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#p2_hero {
  background-color: #ebf3dc;
}

.p2_hero_left h2 {
  font-size: 80px;
  font-weight: normal;
  color: #49592d;
  margin-bottom: 35px;
}

.p2_hero_left p {
  font-size: 20px;
}

.p2_hero_left {
  max-width: 680px;
  margin-left: auto;
}

.p2_hero_right {
  padding-left: 100px;
  margin-top: 0;
}

.p2_hero_right img {
  display: block;
  width: 100%;
}
/* -- p2_hero area end -- */

/* -- p2filter area start -- */
.p2filter_left ul li {
  display: inline-block;
  font-size: 18px;
  color: #000;
  cursor: pointer;
  margin-right: 26px;
}

.p2filter_left ul li span {
  display: inline-block;
  font-size: 12px !important;
  opacity: 0.6;
  margin-left: 5px;
}

.p2filter_right ul li {
  display: inline-block;
  font-size: 18px;
  color: #000;
  cursor: pointer;
  padding: 8px 20px;
  transition: all 0.2s ease;
}

.p2filter_right ul li:hover {
  opacity: 0.7;
}

.p2filter_right ul li:first-child {
  color: #fff;
  background-color: #2f3c17;
}

.p2filter_right ul li:last-child {
  background-color: #e6eed7;
  margin-left: -5px;
}

.p2filter_right p {
  font-size: 18px;
  color: #000;
  margin-left: 35px;
}

.p2filter_wrapper {
  border-top: 2px solid #2f3b1a;
  border-bottom: 2px solid #2f3b1a;
  padding: 0px 10px;
}
/* -- p2filter area end -- */

/* -- p2slider area start -- */
.p2_slider_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.p2_slider_wrapper .p2_slider_one {
  border: 1px solid #222222;
  border-right: 0;
  padding: 25px;
  border-top: 0;
}

#p2slider {
  margin-top: 30px;
  padding-bottom: 120px;
}

.p2slider_wrapper {
  border-right: 1px solid #222222;
  border-top: 1px solid #222222;
}

.p2_slider_one .best_slider_inner img {
  display: block;
  width: 100%;
}

.p2loader ul li {
  display: inline-block;
}

.p2loader ul li span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #79a890;
  border-radius: 50%;
  margin: 0px 5px;
}

.p2loader ul li:nth-child(2) span {
  background-color: #b2c69f;
}

.p2loader ul li:last-child span {
  background-color: #1c5066;
}

.p2loader {
  margin-top: 50px;
}

.p2filter_drop_one_block .check-box {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: normal;
}

.p2filter_drop_one_block .check-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.p2filter_drop_one_block .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 22px;
  width: 22px;
  border: 1px solid #222;
  border-radius: 4px;
}

.p2filter_drop_one_block .check-box input:checked ~ .checkmark {
  background-color: #222;
}

.p2filter_drop_one_block .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.p2filter_drop_one_block .check-box input:checked ~ .checkmark:after {
  display: block;
}

.p2filter_drop_one_block .check-box .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.p2filter_drop_one_wrapper {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 0px 40px;
}

.p2_filter_drop_one {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 70px;
  box-shadow: 0px 15px 36px 0px rgba(0, 0, 0, 0.2);
  transform: scaleY(0);
  transform-origin: top;
  visibility: hidden;
  transition: all 0.2s ease;
}

.p2filter_wrapper {
  position: relative;
}

.p2_filter_drop_one {
  position: absolute;
  width: 100%;
  left: 0;
  top: 47px;
}

.openDrop {
  transform: scaleY(1);
  visibility: visible;
}

#drop_three .checkmark {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  border-color: transparent;
}

#drop_three #check_one span {
  background-image: url(../img/ov1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 0;
}

#drop_three #check_two span {
  background-image: url(../img/ov2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#drop_three #check_three span {
  background-color: #fff;
  width: 79px;
  height: 79px;
  border: 1px solid #000;
}

#drop_three #check_four span {
  background-color: #000000;
}

#drop_three #check_five span {
  background-color: #fcde86;
}

#drop_three #check_six span {
  background-color: #8e8e8e;
}

#drop_three #check_seven span {
  background-color: #f82200;
}

#drop_three #check_eight span {
  background-color: #fbed00;
}

#drop_three #check_nine span {
  background-color: #2d72c0;
}

#drop_three #check_ten span {
  background-color: #27b416;
}

#drop_three #check_eleven span {
  background-color: #f289ff;
}

#drop_three #check_four span:after {
  border-color: #ddd !important;
}

#drop_three .p2filter_drop_one_block .check-box .checkmark::after {
  left: 37%;
  top: 47%;
  width: 11px;
  height: 23px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg) translate(-50%, -50%);
}

#drop_three .p2filter_drop_one_block .check-box input:checked ~ .checkmark {
  border: 0;
}

#drop_three .p2filter_drop_one_block .check-box input:checked ~ .checkmark {
  background-color: transparent;
}

#drop_three {
  background-color: #fff;
  padding-top: 18px;
  padding-bottom: 105px;
}

#drop_three .p2filter_drop_one_wrapper {
  justify-content: space-between;
  gap: 0;
  padding-right: 80px;
}

.drop_four_wrapper {
  padding: 0px 45px;
}

.rangeValue p {
  font-size: 20px;
  margin-left: -10px;
}

.rangeValue p#max {
  margin-left: 0;
  margin-right: -18px;
}

.drop_four_right {
  padding-left: 120px;
  display: flex;
  gap: 50px;
  margin-top: -10px;
}

.p2filter_drop_one_block {
  margin-bottom: 4px;
}

#drop_four {
  padding-bottom: 15px;
}

#p2filter {
  margin-top: 55px;
}
/* -- p2slider area end -- */

/* -- p2mobile_filter area start -- */
.p2mobile_filter_wrapper p {
  font-size: 14px;
}

.p2mobile_filter_wrapper button {
  display: inline-block;
  border: 0;
  outline: none;
  background-color: transparent;
}

.p2mobile_filter_wrapper button img {
  display: inline-block;
  width: 25px;
}

#p2mobile_filter {
  padding: 15px 0px;
}
/* -- p2mobile_filter area end -- */

/* -- p2mobile_check area start -- */
.p2mobile_check {
  position: fixed;
  width: 100%;
  left: -100%;
  top: 0;
  background: #fff;
  z-index: 9999;
  padding: 20px 15px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.3s ease;
  height: 100vh;
}

.openFilter {
  left: 0;
}

.p2mobile_check_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p2mobile_check_heading h3 {
  font-size: 20px;
  font-weight: normal;
  color: #576554;
}

.p2mobile_check_heading button {
  display: inline-block;
  border: 0;
  outline: none;
  background: transparent;
}

.p2mobile_check_heading button img {
  display: inline-block;
  width: 20px;
}

.m_cata h4 {
  font-size: 15px;
  font-weight: 400;
  color: #576554;
  margin-bottom: 14px;
}

.m_cata_wrapper {
  display: flex;
  margin-left: 20px;
}

.m_cata_wrapper_left {
  width: 50%;
}

.m_cata .p2filter_drop_one_block .check-box {
  padding-left: 30px;
  font-size: 14px;
}

.m_cata .p2filter_drop_one_block .checkmark {
  top: 2px;
  height: 18px;
  width: 18px;
}

.m_cata .p2filter_drop_one_block .check-box .checkmark::after {
  left: 6px;
  top: 2px;
}

.m_cata {
  margin-top: 25px;
}

.m_color .checkmark {
  border: 0;
  border-radius: 50%;
}

.m_checkbg_one .checkmark {
  background-image: url(../img/cp1.png);
  background-size: 100% 100%;
}

.m_checkbg_two .checkmark {
  background-image: url(../img/cp2.png);
  background-size: 100% 100%;
}

.m_color .check-box input:checked ~ .checkmark {
  background-color: transparent;
}

.m_color .check-box .checkmark::after {
  left: 6px !important;
  top: 4px !important;
  width: 5px;
  height: 8px;
  border: solid #000;
  border-width: 0 1px 1px 0;
}

.m_checkbg_three .checkmark {
  background: #fff;
  width: 17px;
  height: 17px;
  border: 1px solid #000;
}

.m_checkbg_four .checkmark {
  background-color: #000 !important;
}

.m_checkbg_four .checkmark:after {
  border-color: #fff !important;
}

.m_checkbg_five .checkmark {
  background-color: #fcde86 !important;
}

.m_checkbg_six .checkmark {
  background-color: #8e8e8e !important;
}

.m_checkbg_seven .checkmark {
  background-color: #f82200 !important;
}

.m_checkbg_eight .checkmark {
  background-color: #f4e700 !important;
}

.m_checkbg_nine .checkmark {
  background-color: #2d72c0 !important;
}

.m_checkbg_ten .checkmark {
  background-color: #27b416 !important;
}

.m_checkbg_eleven .checkmark {
  background-color: #f288ff !important;
}

.m_range {
  margin-top: 25px;
}

.m_range h4 {
  font-size: 15px;
  font-weight: 400;
  color: #576554;
  margin-bottom: 14px;
}

.p2mobile_check_bottom ul {
  display: flex;
  align-items: center;
  gap: 10px;
}

.p2mobile_check_bottom ul li {
  width: 50%;
}

.p2mobile_check_bottom ul li a {
  display: block;
  width: 100%;
  color: #2e3c18;
  border: 1px solid #2e3c18;
  padding: 6px 4px;
  text-align: center;
  font-size: 14px;
}

.p2mobile_check_bottom {
  margin-top: 80px;
}

.p2mobile_check_bottom ul li:first-child a {
  background-color: #2e3c18;
  color: #fff;
}

.p2mobile_check_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* -- p2mobile_check area end -- */

/* !====== Page 2 end ====== */

/* !====== Page 3 start ====== */

/* -- p3hero area start -- */
.zoomit-ghost {
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  cursor: wait;
  display: block;
  position: absolute;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.zoomit-zoomed {
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 5;
  position: absolute;
  width: auto !important;
  height: auto !important;
  max-width: none !important;
  max-height: none !important;
  min-width: 100% !important;
  min-height: 100% !important;
  transition: transform 0.1s ease, opacity 0.2s ease;
}
.zoomit-container {
  overflow: hidden;
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 100%;
}
.zoomit-container img {
  vertical-align: top;
}
.zoomit-container.loaded .zoomit-ghost {
  cursor: crosshair;
}
.zoomit-container.loaded .zoomit-zoomed {
  opacity: 1;
}

#p3hero {
  overflow: hidden;
  padding-bottom: 100px;
}

#p3hero .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.zoomed_pic img {
  display: block;
  width: 100%;
  transition: all 0.2s ease;
}

.zoomed_pic {
  position: relative;
}

#zoombutton {
  border: 0;
  outline: none;
  background-color: transparent;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 999999;
}

#zoombutton img {
  display: inline-block;
  width: 50px;
}

.zoomCompleted {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.p3hero_right_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p3hero_right {
  width: 665px;
  margin-left: 30px;
  margin-top: 30px;
}

.p3hero_right_heading_left h3 {
  font-size: 40px;
  font-weight: normal;
}

.p3hero_right_heading_left span {
  display: inline-block;
  font-size: 20px;
}

.p3hero_right_heading_left p {
  font-size: 18px;
  margin: 4px 0px;
}

.p3hero_right_heading_right ul li {
  display: inline-block;
}

.p3hero_right_heading_right ul li a {
  display: inline-block;
  font-size: 24px;
  color: #000;
  opacity: 0.6;
  margin-left: 15px;
  transition: all 0.2s ease;
}

.p3hero_right_heading_right ul li a:hover {
  opacity: 1;
}

.p3hero_right_color {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.p3hro_right_color_box {
  margin-top: 20px;
  cursor: pointer;
}

.p3hro_right_color_box span {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #a8ced4;
  border-radius: 50%;
  border: 1px solid transparent;
}

.p3hro_right_color_box_two span {
  background-color: #b2c3d3;
}

.p3hro_right_color_box_three span {
  background-color: #b4886e;
}

.p3hro_right_color_box_four span {
  background-color: #88a6ab;
}

.p3hro_right_color_box_five span {
  background-color: #6e8cee;
}

.p3hro_right_color_box_five {
  position: relative;
}

.p3hro_right_color_box_five img {
  display: inline-block;
  width: 20px;
  position: absolute;
  right: 20px;
  top: 0;
}

.p3hro_right_color_box_six span {
  background-color: #b2c3d3;
}

.p3hro_right_color_box p {
  font-size: 15px;
}

#zoomImg img {
  width: 2500px !important;
  height: 2500px !important;
}

.p3cloth_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 15px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  margin-top: 20px;
}

.p3cloth_details_left h4 {
  font-size: 19px;
}

.p3cloth_details_right p {
  font-size: 18px;
}

.p3cloth_details_right p span {
  display: inline-block;
  opacity: 0.6;
  margin-right: 20px;
}

.p3cloth_select_left_wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.p3cloth_select_left p {
  font-size: 18px;
  margin-bottom: 5px;
}

.p3cloth_select_left select {
  display: block;
  width: 260px;
  border: 1px solid #9ab774;
  background: #fff;
  padding: 8px 10px;
  font-size: 18px;
  cursor: pointer;
}

.p3cloth_select_middle p {
  font-size: 18px;
  margin-bottom: 5px;
}

.quantity_box {
  border: 1px solid #9ab774;
}

.quantity_box span {
  display: block;
  font-size: 18px;
  width: 55px;
  text-align: center;
}

.quantity_box_button button {
  display: block;
  border: 0;
  outline: none;
  background-color: #2e3c18;
  color: #fff;
  font-size: 13px;
  width: 26px;
  text-align: center;
  padding: 1px 0px;
}

.p3cloth_select_right p {
  font-size: 18px;
  position: relative;
  top: 16px;
}

.p3cloth_select_right_wrapper p {
  font-size: 18px;
  margin-bottom: 18px;
}

.p3cloth_select_right_wrapper h4 {
  font-size: 26px;
  font-weight: normal;
  color: #9ab774;
  position: relative;
  top: -10px;
}

.p3remark {
  padding: 0px 15px;
}

.p3remark a:first-child {
  color: #9ab774;
  font-size: 15px;
  transition: all 0.2s ease;
}

.p3remark a:first-child span {
  display: inline-block;
  margin-right: 5px;
}

.p3remark a:last-child {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background-color: #2e3c18;
  padding: 8px 45px;
  transition: all 0.2s ease;
}

.p3cloth_select {
  padding: 0px 15px;
  margin-top: 10px;
}

.p3remark {
  margin-top: 15px;
}

.p3remark a:hover {
  opacity: 0.7;
}

.p3cloth_select_middle button.disabled {
  opacity: 0.5;
}

.p3fabric_cal {
  padding: 0px 15px;
}

.p3fabric_cal_left a {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #2e3c18;
  border-radius: 10px;
  background-color: #eef4e9;
  padding: 6px 15px;
  transition: all 0.2s ease;
}

.p3fabric_cal_left a:hover {
  opacity: 0.7;
}

.p3fabric_cal_left a img {
  display: inline-block;
  width: 25px;
}

.p3fabric_cal_left a p {
  font-size: 14px;
  color: #445929;
  font-weight: 500;
  line-height: 1;
}

.p3fabric_cal {
  display: flex;
  gap: 20px;
}

.p3fabric_cal_right p {
  font-size: 14px;
  color: #000;
  opacity: 0.5;
  margin-bottom: 15px;
}

.p3fabric_cal_right p strong {
  font-weight: 500;
}

.p3fabric_cal {
  margin-top: 45px;
}

.notInStock {
  padding: 50px 15px;
  display: none;
}

.notInStock p {
  font-size: 18px;
}

.notInStock p img {
  display: inline-block;
  width: 20px;
  margin-right: 12px;
  position: relative;
  top: -2px;
}

.p3cloth_select {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a.disable {
  pointer-events: none;
  cursor: not-allowed;
  background-color: #eaebe7 !important;
}

a.changeBtn {
  border: 1px solid #9ab774 !important;
  font-size: 18px !important;
  color: #000 !important;
  width: 358px;
  padding: 7px 10px;
}

a.changeBtn span {
  display: none !important;
}

/* -- p3hero area end -- */

/* !====== Page 3 end ====== */
